.item-container {
    width: 100%;
    max-width: 80%;
    overflow: hidden;
    margin: 50px auto;
    display: flex;
}

.item-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .item-container {
        max-width: 60%;
    }
}