.item-container {
    width: 100%;
    max-width: 80%;
    border-radius: 5px;
    overflow: hidden;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.item-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

@media screen and (max-width: 1000px) {
    .item-container {
        max-width: 60%;
    }
}