header {
  display: flex;
  flex-direction: row;
  margin: 1.5em;
}

.LogoutButtonContainer {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 100px;
}

.logo{
  height: 3.5em;
  width: fit-content;
}