header {
  display: flex;
  flex-direction: row;
  margin: 1.5em;
}

.LogoutButtonContainer {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 100px;
}

.logo{
  width: 7em;
  aspect-ratio: 7/3.5;
}