/* my css */
#featured-items-img {
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
}

#account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  width: 50%;
}

#featured-items {
  width: 50%;
}

#sign-in-up-btn, .text-boxes {
  display: block;
  -webkit-box-flex: 1;
  padding: 8px;
  width: 300px;
}

.page-content-container{
  display: flex;
  justify-content: center;
}
.Listing .listing-form {
  display: flex;
  flex-direction: column;
}
/* default values */

/* .MerComponent {
  background-color: #222427
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);

}

#MerTextInput {

}

#MerInputLabel {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4em;
  cursor: default;
  align-items: flex-start;
}

#MerButton {
  color: #222427;
  font: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.4em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, fill;
}

#MerDisableButton {
  background-color: #575757;
  color: #222427;
  font: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.4em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, fill;
}

.Title {
  background-color: #222427
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);

}

.Listing {
  width: 100%;
}

.ItemList {
  background-color: #222427
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);

}

.ListingForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.ItemDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.UserProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
} */
